{% extends 'base.html' %}
{% load static %}
{% block title_block %} Profile {% endblock %}
{% block body_block %}
  <h2>Your Profile: </h2>
  {% if user.user_profile %}
    <img src="{{user.user_profile.profile_pic}}" alt="None" class="rounded-circle" width="100px">
  {% else %}
    <img src="{% static 'images/profilepics/x.jpg' %}" alt="x" class="rounded-circle" width="100px">
  {% endif %}
    <br>
    <a href="{% url 'login_app:profilepicchange' %}" class="btn btn-info btn-lg">Change Profile Pic</a>
    <p>Username: {{ user.username }}</p>
    <p>E-mail: {{ user.email }}</p>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <br>
    <a href="{%  url 'login_app:changeprofileinfo' %}" class="btn btn-warning btn-md">Change Profile Info</a>
{% endblock %}
